.header{
    background-color: #002333;
    color: #FFFFFF;
    align-items: flex-start;
}

.container{
  background-color: #DEEFE7;
  margin: 30px auto;
}

#title{
  margin-top: 10px;
  box-shadow: 0 1px;
  padding-bottom:5px;
  background-color: #FFFFFF;
}

.invalid-feedback, .valid-feedback {
  display: none;
  font-size: 0.8em;
}
.invalid-feedback {
  color: red
}
.valid-feedback {
  color: green
}

 /* .form-control:invalid ~ .invalid-feedback,
 .form-control:valid ~ .valid-feedback {
  display: initial;   /* 顯示 */
  /* }   */ 

#password{
  background-color: antiquewhite;
  font-size:large;
}